* {
    margin:0px;
    padding:0px;
}
body {
    background-image:url("/img/bgpattern.jpg");
}
div.app-view {
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 1px 2px 8px 1px #6f7378;
    -webkit-box-shadow: 1px 2px 8px 1px #6f7378;
    box-shadow: 1px 2px 8px 1px #6f7378;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 2, direction = 157.5, color = '#6f7378');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 157.5, Color = '#6f7378')";
    /*Shadows look very different in IE (Only cardinal directions supported)*/
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element should have a background-color*/
    /*All filters must be placed together*/
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    /*IE 7 AND 8 DO NOT SUPPORT SPREAD PROPERTY OF SHADOWS*/
    background-color:white;

    width:250px;
    height:250px;
    padding:15px;
    margin:25px;
}

div.drawer-container div.app-view {
    width:150px;
    height:150px;
}

div.app-container {
    display:inline-block;
}
div.drawer-container {
    background-image:url("/img/navy_blue.png");
    position:absolute;
    top:328px;
    left:0px;
    width:100%;
    padding:25px 10px 25px 10px;
    -moz-box-shadow: inset 0px 9px 24px 5px #090a0a;
    -webkit-box-shadow: inset 0px 9px 24px 5px #090a0a;
    box-shadow: inset 0px 9px 24px 5px #090a0a;
    /*Inner elements should not cover inner shadows*/
    /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
}

span.alerts {
    background-color: #B94A48;
    padding: 1px 9px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-size: 14.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    float:right;
}

